@import url("https://fonts.googleapis.com/css2?family=Inter");

:root {
  --accent: #3b5bdb;
}

* {
  box-sizing: border-box;
  font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: all 300ms;
}

/* html default */ button {
  border: 0;
  background: transparent;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

nav {
  /* position: fixed;
  top: 0; */
  display: flex;
  align-items: center;
  padding: 0px 25px;
  height: 85px;
  width: 100%;

  text-align: center;
  background: var(--accent);
}

nav * { color: white; }

nav .items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-icon {
  margin-right: 5px;
}

nav .items .link {
  margin: 0px 15px;
}

.button {
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  padding: 10px 15px;
}

.button-secondary {
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 5px;
  padding: 10px 15px;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  
  height: 100vh;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  height: 309px;
  width: 100%;
  padding-bottom: 25px;
}

.cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 15px;
  /* flex-wrap: wrap; */
  border-radius: 5px;
  border: 1px solid #adb5bd;
  overflow: auto;
  height: 195px;
  width: 320px;
}

.cards .card:hover {
  width: 530px;
}

section {
  display: flex;
  flex-direction: column;
  padding: 150px;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}